#home {
    width: auto;
    padding-right: 15px;
    padding-top: 10em;
    justify-content: right;
    padding-left: 10px;
    position: relative;
    box-sizing: border-box;
    text-align: left;
}

#home .home-message {
    display: inline-block;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    top: 40%;
    text-align: left;
    width: 70%
}

.home-message h2 {
    color: #ffffff;
    font-size: 200%;
    text-shadow: none;
    line-height: 1;
    font-weight: 700;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 6px 4.8px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.errorContainer {
    position: fixed;
    right: 100px;
    min-width: 100px;
    display: block;
    z-index: 11111;
    top: 100px;
    text-align: center;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    height: auto;
    width: 320px;
    box-shadow: 0 5px 10px black;
  }
  
  .errorContainer > p {
    background: gray;
    font-size: 20px;
    padding: 20px;
    height: auto;
    border-radius: 20px;
  }
  
  .errorContainer {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .not-found {
    position: absolute;
    top: 40%;
    left: 20%;
    color: rgb(249, 244, 244);
    z-index: 2;
}
.not-found h1 {
    font-size: 50px;
    margin-bottom: 30px;
}