body {
    background-image: url('../images/Obzor.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.auth {
    width: 100px;
    margin: 8em auto;
}

header,
footer {
    background-color: #6e8297;
    width: 100%;
    overflow: hidden;
    color: white;
    z-index: 1;
}

header {
    padding: 0.5em;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

header h1 {
    display: inline-block;
    color: white;
    margin-bottom: auto;
}

header nav {
    font-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    right: 0;
    bottom: 8px;
}

header nav>* {
    float: left;
}

main {
    margin-top: 73.375px;
}

footer {
    padding: 1em;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a {
    margin: 0 0.5em;
}

nav a:hover {
    cursor: pointer;
    color: rgb(8, 19, 20);
    font-weight: bolder;
}

.home:hover {
    color: rgb(8, 19, 20);
}

#user,
#guest {
    margin: 0;
    padding: 0;
}